.gradient-background {
  background: linear-gradient(300deg, #c1e59f, #c1e59f, #ff937e);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar a{
    color: #ff5555;
    font-size: large;
    font-weight: bold;
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Navbar after scrolling */
.navbar.navbar-scrolled {
  background-color: #C1E59F;
}

.homepg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-family: "Sacramento", cursive;
  color: #ff5555 !important;
  font-size: 15vh;
}
.job {
  font-family: "Montserrat", sans-serif;
  color: #ff5555;
  font-size: 2rem;
}

.about{
    justify-content: center;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    text-align: center;
    width: 50vh;
}
.avt{
    border-radius: 90px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.logos{
    width: 3em;
    height: 3em;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
